In [1]:
import pandas as pd

In [2]:
ls

data/  Ejemplo-Pandas-01.ipynb*  README.md

In [3]:
ls data/

data-mundial-2018-01.csv*  data-mundial-2018-02.csv*

In [4]:
data1 = pd.read_csv("data/data-mundial-2018-01.csv")
data2 = pd.read_csv("data/data-mundial-2018-02.csv")

In [5]:
data1.keys()

Index(['ID', 'Numero', 'FIFADisplayName', 'Country', 'LastName', 'FirstName'], dtype='object')

In [6]:
data2.keys()

Index(['ID', 'ShirtName', 'DOB', 'POS', 'Club', 'Height', 'Caps', 'Goals'], dtype='object')

In [7]:
data1.head()

   ID  Numero     FIFADisplayName    Country    LastName          FirstName
0   1       1       Nahuel GUZMAN  Argentina      GUZMÁN     Nahuel Ignacio
1   2       2     Gabriel MERCADO  Argentina     MERCADO       Gabriel Ivan
2   3       3  Nicolas TAGLIAFICO  Argentina  TAGLIAFICO  Nicolás Alejandro
3   4       4    Cristian ANSALDI  Argentina     ANSALDI    Cristian Daniel
4   5       5        Lucas BIGLIA  Argentina      BIGLIA      Lucas Rodrigo

In [8]:
data2.head()

   ID   ShirtName         DOB POS              Club  Height  Caps  Goals
0   1      GUZMÁN  10.02.1986  GK      Tigres (MEX)     192     6      0
1   2     MERCADO  18.03.1987  DF  Sevilla FC (ESP)     181    20      3
2   3  TAGLIAFICO  31.08.1992  DF        Ajax (NED)     169     4      0
3   4     ANSALDI  20.09.1986  DF      Torino (ITA)     181     5      1
4   5      BIGLIA  30.01.1986  MF    AC Milan (ITA)     175    57      1

In [9]:
# result = pd.merge(data1, data2, on="ID")