In [5]:
import pandas as pd
#DATA ORIGINAL

In [6]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El n£mero de serie del volumen es: E469-A03C

 Directorio de C:\Users\Dell‡\Documents\proyectPython\Python-basicos-02

10/03/2022  17:28    <DIR>          .
10/03/2022  17:28    <DIR>          ..
10/03/2022  17:17    <DIR>          .ipynb_checkpoints
10/03/2022  17:17    <DIR>          data
10/03/2022  17:28             9.057 Ejemplo-Pandas-01.ipynb
10/03/2022  17:17             2.034 Ejemplo-Pandas-02.ipynb
10/03/2022  17:17    <DIR>          images
10/03/2022  17:17               721 README.md
               3 archivos         11.812 bytes
               5 dirs  815.777.095.680 bytes libres

In [7]:
ls data/

El modificador no es v lido: "".

In [8]:
data1 = pd.read_csv("data/data-mundial-2018-01.csv")
data2 = pd.read_csv("data/data-mundial-2018-02.csv")

In [9]:
data1.keys()

Index(['ID', 'Numero', 'FIFADisplayName', 'Country', 'LastName', 'FirstName'], dtype='object')

In [10]:
data2.keys()

Index(['ID', 'ShirtName', 'DOB', 'POS', 'Club', 'Height', 'Caps', 'Goals'], dtype='object')

In [11]:
data1.head()

   ID  Numero     FIFADisplayName    Country    LastName          FirstName
0   1       1       Nahuel GUZMAN  Argentina      GUZMÁN     Nahuel Ignacio
1   2       2     Gabriel MERCADO  Argentina     MERCADO       Gabriel Ivan
2   3       3  Nicolas TAGLIAFICO  Argentina  TAGLIAFICO  Nicolás Alejandro
3   4       4    Cristian ANSALDI  Argentina     ANSALDI    Cristian Daniel
4   5       5        Lucas BIGLIA  Argentina      BIGLIA      Lucas Rodrigo

In [12]:
data2.head()

   ID   ShirtName         DOB POS              Club  Height  Caps  Goals
0   1      GUZMÁN  10.02.1986  GK      Tigres (MEX)     192     6      0
1   2     MERCADO  18.03.1987  DF  Sevilla FC (ESP)     181    20      3
2   3  TAGLIAFICO  31.08.1992  DF        Ajax (NED)     169     4      0
3   4     ANSALDI  20.09.1986  DF      Torino (ITA)     181     5      1
4   5      BIGLIA  30.01.1986  MF    AC Milan (ITA)     175    57      1

In [13]:
resultado = pd.merge(data1, data2, on="ID") #merge es igual a un join

In [14]:
resultado.head()

,ID,Numero,FIFADisplayName,Country,LastName,FirstName,ShirtName,DOB,POS,Club,Height,Caps,Goals
0,1,1,Nahuel GUZMAN,Argentina,GUZMÁN,Nahuel Ignacio,GUZMÁN,10.02.1986,GK,Tigres (MEX),192,6,0
1,2,2,Gabriel MERCADO,Argentina,MERCADO,Gabriel Ivan,MERCADO,18.03.1987,DF,Sevilla FC (ESP),181,20,3
2,3,3,Nicolas TAGLIAFICO,Argentina,TAGLIAFICO,Nicolás Alejandro,TAGLIAFICO,31.08.1992,DF,Ajax (NED),169,4,0
3,4,4,Cristian ANSALDI,Argentina,ANSALDI,Cristian Daniel,ANSALDI,20.09.1986,DF,Torino (ITA),181,5,1
4,5,5,Lucas BIGLIA,Argentina,BIGLIA,Lucas Rodrigo,BIGLIA,30.01.1986,MF,AC Milan (ITA),175,57,1

In [17]:
resultado.to_csv("data/data-mundial.csv") #union de los dos data_csv

In [25]:
resultado.keys() #atributos del resultado

Index(['ID', 'Numero', 'FIFADisplayName', 'Country', 'LastName', 'FirstName',
       'ShirtName', 'DOB', 'POS', 'Club', 'Height', 'Caps', 'Goals'],
      dtype='object')

In [35]:
resultado.shape #numero de filas y columnas

(736, 13)